<input type="text" name="name" id="name" placeholder="name" class="border-0">
<input type="date" name="dateOfBirth" id="dateOfBirth">
<textarea name="address" id="address" placeholder="enter your address" ></textarea>
<button type="submit">submit</button>